<h1>Durations by Page Size</h1>

<%= link_to 'Back to Tasks', tasks_path %>

<div class="actions" style="margin:1rem 0;">
  <%= link_to 'Download Raw Durations CSV (All Selected Tasks)', durations_selected_csv_path, class: 'button' %>
</div>

<div class="box-chart">
  <div class="box">
    <div data-durations='<%= @series_by_handler.to_json %>'></div>
  </div>
</div>

<%= javascript_import_module_tag 'durations_chart' %>

